.dashboard{
    display:flex;
    flex-direction:column;
    gap:24px;
}

.dashboard-row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:24px;
}

@media(max-width:1000px){

.dashboard-row{
    grid-template-columns:1fr;
}

}